<div class="container px-auto">
    
    <div class="row">
        <div class="col-lg-10 mx-0">
            <h3>VIEW CUSTOMER DETAILS</h3>
            <div class="row">
                <div class="col-lg-5">
                    <p class="h6 p-3">CustomerId</p>
                    <p class="h6 p-3">Customer Name</p>
                    <p class="h6 p-3">Customer Address</p>
                    <p class="h6 p-3">Phone Number</p>
                    <p class="h6 p-3">Chet Number</p>
                    <p class="h6 p-3">Date</p>
                </div>
                <div class="col-lg-5">
                    <h6 class="p-3">{{customer.customerId}}</h6>
                    <h6 class="p-3">{{customer.name}}</h6>
                    <h6 class="p-3">{{customer.address}}</h6>
                    <h6 class="p-3">{{customer.phone}}</h6>
                    <h6 class="p-3">{{customer.chet}}</h6>
                    <h6 class="p-3">{{customer.date}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .container{
        background: transparent;
        margin: 5vw auto;
    }
    h6,.h6{
        margin: 0 0;
        color: #fff;
        background: #35bfc4;
        border: solid #f1f1f1 1px;
    }
    h6{
        margin: 0 0 0 -24px; 
    }
    h6:hover,.h6:hover{
        background: #00ffff;
    }
</style>
