<nav class="navbar navbar-expand-lg navbar-light" style="background: #34bd56;">
    <div class="container-fluid">
      <h5 class="navbar-brand text-uppercase text-white mb-1  mx-2" >clove procurement</h5>
      <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white" ></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0  mx-2">
          <li class="nav-item">
            <a class="nav-link active text-white " aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/customer">customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/audit">audits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/payment">payments</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
