<div class="container-fluid mt-5">
    <div class="col-lg-12">
        <div class="row">
            <h6 class="text-info">CLOVE PROCUREMENT SYSTEM</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis labore reiciendis, fuga vitae quo consequatur omnis fugiat odio voluptas quibusdam  modi aperiam quos, ipsa provident facere vel unde alias?Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis labore reiciendis, fuga vitae quo consequatur omnis fugiat odio voluptas quibusdam quod modi aperiam quos, ipsa provident facere vel unde alias?</p>
        </div>
    <div class="col-lg-12 mt-5">
       <div class="row">
            <h6 class="text-info">OBJECT OF THE SYSTEM</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis labore reiciendis, fuga vitae quo consequatur omnis fugiat odio voluptas quibusdam  modi aperiam quos, ipsa provident facere vel unde alias?Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis labore reiciendis, fuga vitae quo consequatur omnis fugiat odio voluptas quibusdam quod modi aperiam quos, ipsa provident facere vel unde alias?</p>
        </div>
    </div>
    <div class="col-lg-12 mt-5">
        <div class="row">
             <h6 class="text-info">OUR MISSION</h6>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis labore reiciendis, fuga vitae quo consequatur omnis fugiat odio voluptas quibusdam  modi aperiam quos, ipsa provident facere vel unde alias?Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis labore reiciendis, fuga vitae quo consequatur omnis fugiat odio voluptas quibusdam quod modi aperiam quos, ipsa provident facere vel unde alias?</p>
         </div>
     </div>
</div>